# APP CONFIG
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_GEO_API_BASE_URL=http://localhost:8080
GEO_API_BASE_URL=http://localhost:8080

# DATABASE
DATABASE_URL=postgres://<user>:<password>@localhost:5432/carbon_lens_db

# RESEND
RESEND_API_KEY=

# AUTH
NEXT_PUBLIC_BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=
DEFAULT_ADMIN_EMAIL=
DEFAULT_ADMIN_NAME=

# OTHER
SKIP_ENV_VALIDATION=0
REACT_EDITOR=code