# Project
export PROJECT_NAME=carbon-lens

# Database
export DB_TYPE=postgres
export DB_PORT=5432
export DB_HOST=localhost
export DB_NAME=carbon_lens_db
export DB_USER=
export DB_PASSWORD=

# Web
export WEB_PORT=3000
export GEO_API_BASE_URL=http://api:8080
export WEB_DATABASE_URL=postgres://<user>:<password>@app-postgres:5432/carbon_lens_db
export WEB_RESEND_API_KEY=
export WEB_BETTER_AUTH_SECRET=
export WEB_BETTER_AUTH_URL=
export WEB_DEFAULT_USER_PASSWORD=
export WEB_DEFAULT_ADMIN_EMAIL=
export WEB_DEFAULT_ADMIN_NAME=
export WEB_SKIP_ENV_VALIDATION=0

# API
export API_PORT=8080

# Modeling
export MODELING_PORT=8082

# Nginx
export NGINX_PORT=80