# APP CONFIG
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_GEO_API_BASE_URL=http://localhost:8080

# DATABASE
DATABASE_URL=

# RESEND
RESEND_API_KEY=

# AUTH
NEXT_PUBLIC_BETTER_AUTH_URL=http://localhost:8080
BETTER_AUTH_SECRET=
DEFAULT_USER_PASSWORD=
DEFAULT_ADMIN_EMAIL=
DEFAULT_ADMIN_NAME=

# OTHER
SKIP_ENV_VALIDATION=0